@model Projeto.Presentation.Areas.AreaRestrita.Models.SalaCadastroModel

@{
    Layout = "~/Areas/AreaRestrita/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="padding: 10px; background-color: white">
    <h4>Cadastro de Sala</h4>
    <hr />


    @using (Html.BeginForm())
    {
        <!-- campo nome -->
        <div class="form-group row">
            <div class="col-md-4">
                <label>Nome:</label>
                @Html.TextBoxFor(model => model.Nome,
                new
                {
                    @class = "form-control",
                    @maxlength = "50",
                    @autocomplete = "off"
                })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.Nome)
                </span>
            </div>
            <div class="col-md-3">

                <label>Localidade:</label>
                @Html.DropDownListFor(model => model.IdLocalidade,
                        Model.Localidades,
                        "",
                        new { @class = "custom-select" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.IdLocalidade)
                </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.CheckBoxFor(model => model.Desativar) <span>Desativar</span>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <button type="submit" id="btnCadastrar" class="btn btn-success btn-sm">
                <i class="fas fa-save fa-lg"></i> Salvar
            </button>
            <a id="Limpar" class="btn btn-secondary btn-sm" href="/AreaRestrita/Sala/Cadastro">
                <i class="fas fa-broom fa-lg"></i> Limpar
            </a>
            <a id="Consultar" class="btn btn-info btn-sm" href="/AreaRestrita/Sala/Consulta">
                <i class="fas fa-search fa-lg"></i> Consultar
            </a>
        </div>
    }

</div>

